@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overflow-y: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.35rem;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 999px;
  border: 1px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfc6d1;
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #ffffff;
}

/* Custom text selection color */
::selection {
  background-color: #7DFF97;
  color: #000000;
}

::-moz-selection {
  background-color: #7DFF97;
  color: #000000;
}
